<%- include ("partials/header") %>

<h1>This is the show template.</h1>

<p><%= cafe.name %></p>

<img src="<%= cafe.image %>" alt="">

<p><%= cafe.description %></p>
<%- include ("partials/footer") %>